html{
	font-family: arial, sans-serif;
}
a{
	text-decoration: none;
}
header {
display: flex;
justify-content: flex-end;
}
#navigationbar{
	display: flex;
	list-style-type: none;
	flex-direction: row;
	justify-content: flex-end;
	align-content: flex-end;
	padding: 5px 15px 0px 0px;
}
#carrelogo {
	height: 30px;
	width: 30px;
}
#Connexion {
	color: #fff;
	font-weight: bold;
  background: -webkit-linear-gradient(top,#4387fd,#4683ea);
	border-radius: 5px;
	padding: 10px 10px;
	margin-top: -10px;
}
#center{
	text-align: center;
	flex-direction: column;
	justify-content: center;
}
#bouton{
	align-self: center;
    height: 58px;
    width: 571px;
    padding-top: 18px;   
	margin: auto auto;
}
#bouton input[type="button"] {
height: 36px;
line-height: 27px;
background-image: -webkit-linear-gradient(top, #F8F8F8, #F1F1F1);
background-color: #F2F2F2;
color: #757575;
font-size: 13px;
font-weight: bold;
margin: 11px 4px;
padding: 0 16px;	
}
#googlelogo {
    height: 92px;
    width: 272px;
    align-self: center;
}
#searchbar {
	display: flex;
	align-self: center;
	width: 584px;
	border-radius: 2px;
	border: 1px black solid;
	box-shadow: 0 2px 2px 0 rgba (0, 0, 0, 0.16), 0 0 0 1px rgba (0, 0, 0, 0.08);
	height: 44px;
	margin: 0 auto;  
}
#outer {
	flex:1;
	display: flex;
	padding: 5px 8px 0 16px;
}
#inner {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
}
#inner2{
	display: flex;
	flex: 0 0 auto;
}
#inner2 img {
    width: 32px;
    height: 22px;
    margin-top: 6px;
}

#inner input{
	border: none;
	margin: 0;
	padding: 0;
	outline: none;
	display: flex;
	flex: 100%;
	font-size:20px;
}
.footer{
  display:flex;
  background: #F2F2F2; 
}

ul{
	list-style-type: none;
	display:flex;
}

#gmail{
	padding: 20px 15px;
}

#images{
	padding: 20px 15px;
}
#carrelogo{
	padding: 10px 15px;

}
#connexion{
	padding: 20px 15px;
}
body{
	height: 900px;
}
.footer{
	margin-top: 70px;
	maximum-width:100%;
	border: border: 2px solid red;
}

#ad{
	padding: 20px 15px;
}
#enterprises{
	padding: 20px 15px;
}
#about{
	padding: 20px 15px;
}
#consumers_info{
	padding: 20px 15px;
}
#confidentiality{
	padding: 20px 15px;
}
#conditions{
	padding: 20px 15px;
}
#parameters{
	padding: 20px 15px;
}
#alignement_footer{
	display: flex;

}
#left_bar{
	width: 50%;
	padding-top: 15px;
	justify-content: flex-start;
}
#right_bar{
	width: 50%;
	justfiy-content: flex-end;
	padding-top: 15px;
}